<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>MoTv Talks</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#">Home</a></li>
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ashish Chauhan<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row sub-nav">
	<div class="col-md-4"></div>
	<div class="col-md-8">
      <ul class="nav navbar-nav">
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movies<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Action',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Action' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Romance',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Romance' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Comedy',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Comedy' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Horror',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Horror' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Sci-Fi',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Sci-Fi' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Thriller',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Thriller' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Crime',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Crime' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Drama',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Drama' , :type => 'm')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Fantasy',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Fantasy' , :type => 'm')%></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tv Series<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Action',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Action' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Comedy',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Comedy' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Science-Fiction',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Science-Fiction' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Thriller',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Thriller' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Crime',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Crime' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Fantasy',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Fantasy' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Horror',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Horror' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Romance',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Romance' , :type => 't')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Adventure',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Adventure' , :type => 't')%></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Action',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Action' , :type => 'a')%></a></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Horror',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Horror' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Supernatural',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Supernatural' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Fantasy',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Fantasy' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Thriller',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Triller' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Mystery',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Mystery' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Comedy',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Comedy' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Crime',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Crime' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Romance',url_for(:controller => 'user' , :action => 'genre' , :genre => 'Romance' , :type => 'a')%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'War',url_for(:controller => 'user' , :action => 'genre' , :genre => 'War' , :type => 'a')%></li>
          </ul>
        </li>
      </ul>
  </div>
 </div>

 <style>
 	.sub-nav{
 		background-color: lightgrey;
 		margin-top: -20px;
 	}
 	a{
 		font-weight: bold;
 	}
 	.sub-nav a{
 		font-size: 16px;
 	}
 	.sub-nav a:hover{
 		color:#1da2f9;
 	}
 	.sub-nav .dropdown-menu a{
 		font-size: 15px;
 	} 
 </style>