
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x: hidden;">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b class="logo">MoTv Talks</b></a>
     </div>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="current_user">Ashish Chauhan<span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Help</a></li>
          </ul>
        </li>
        <li><%=link_to "Sign out",destroy_user_session_path,method: :delete%></li>
      </ul>

    </div>
</div>
</nav>

<div class="row sub-nav">
	<div class="col-md-4"></div>
	<div class="col-md-8">
      <ul class="nav navbar-nav">
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movies<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Action',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Action' , :type => 'm') , method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Romance',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Romance' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Comedy',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Comedy' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Horror',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Horror' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Sci-Fi',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Sci-Fi' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Thriller',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Thriller' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Crime',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Crime' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Drama',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Drama' , :type => 'm'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Fantasy',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Fantasy' , :type => 'm'), method: :get%></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TV Series<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Action',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Action' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Comedy',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Comedy' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Science-Fiction',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Science-Fiction' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Thriller',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Thriller' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Crime',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Crime' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Fantasy',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Fantasy' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Horror',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Horror' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Romance',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Romance' , :type => 't'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Adventure',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Adventure' , :type => 't'), method: :get%></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Action',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Action' , :type => 'a'), method: :get%></a></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Horror',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Horror' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Supernatural',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Supernatural' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Fantasy',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Fantasy' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Thriller',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Triller' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Mystery',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Mystery' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Comedy',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Comedy' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Crime',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Crime' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Romance',url_for(:controller => 'users' , :action => 'genre' , :genre => 'Romance' , :type => 'a'), method: :get%></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'War',url_for(:controller => 'users' , :action => 'genre' , :genre => 'War' , :type => 'a'), method: :get%></li>
          </ul>
        </li>
      </ul>
  </div>
 </div>
<br>
<div class="container container-fluid">
<br>
<div class="panel panel-info form-panel">
	<div class="panel-heading ">
		<center>UPCOMING</center>
	</div>
</div> 

 <div class="row">
 	 	<%@upcomingmovie.each do|movie|%>
	 		<div class="col-md-3">
	 			<img style="border: 4px solid white;" src="<%=movie.coverpic%>">
	 		</div>
	 	<% end %>
 </div>
<br>
<div class="panel panel-info form-panel">
	<div class="panel-heading ">
		<center>TRENDING</center>
	</div>
</div> 

 <div class="row">
 	 	<%@trendingmovie.each do|movie|%>
	 		<div class="col-md-3">
	 			<img style="border: 4px solid white;" src="<%=movie.coverpic%>"><br>
	 		</div>
	 	<% end %>
 </div>

<br>
<div class="panel panel-info form-panel">
	<div class="panel-heading ">
		<center>MY FAVOURITES</center>
	</div>
</div> 

 <div class="row">
 	 	<%@myfavs.each do|movie|%>
	 		<div class="col-md-3">
	 			<img style="border: 4px solid white;" src="<%=movie.coverpic%>"><br>
	 		</div>
	 	<% end %>
 </div>
</div>
<br><br>
<br><br>
<br><br>

</body>
<nav class="navbar navbar-default bottom">
    <center><b>AMAN CHOWDHARY - ISHTUD</b></center>
</nav>

<style>
	body{
		background:linear-gradient( #b3b3b0, #e3e2dd );
	}
	.logo{
		color: white;
		font-size: 20px;
	}
	.current_user{
		color: white;
	}
	.links{
		color: white;
	}
 	.sub-nav{
 		background-color: lightgrey;
 		margin-top: -10px;
 	}
 	a{
 		font-weight: bold;
 	}
 	.sub-nav a{
 		font-size: 16px;
 	}
 	.sub-nav a:hover{
 		color:#1da2f9;
 	}
 	.sub-nav .dropdown-menu a{
 		font-size: 15px;

 	} 
 


 	
 	.form-panel{
 		width: 98%;
 	}
 	.form-panel center{
 		font-size: 20px;
 		font-weight: bold;
 	}
 	.left-button{
 		width: 50px;
 		height: 50px;
 		background: transparent;
 		border:2px solid #1da2f9;
 		border-radius: 50%;
 		position: relative;
 		left: 50px;
 		top:-190px;
 		font-weight: bold;
 		font-size: 30px;
 	}
 	.right-button{
 		width: 50px;
 		height: 50px;
 		background: transparent;
 		border:2px solid #1da2f9;
 		border-radius: 50%;
 		position: relative;
 		right: 50px;
 		top:-190px;
 		font-weight: bold;
 		font-size: 30px;
 	}
 	.images{
 		border: 2px solid white;
 	}
 	.bottom{
 		margin-bottom: -10px;
 	}
 </style>

