<form action="/home/index" method="get">
<input type="text" name="movie">
<input type="submit" value="search">



</form>
<%if @mov%>
<%@mov.each do |mov|%>
	<%=mov.name%>
			<%=mov.content%>
			<%=mov.rating%>
			<%=mov.releasedate%>

			<%=mov.genres%>
			<%=mov.duration%>
			<%=mov.pgrating%>
	<img src="<%=mov.coverpic%>">;
<%end%>
<%end%>

